.cls {
  background-color: aqua;
  font-size: 1.2rem;
  font-weight: bold;
}
.clss {
  background-color: purple;
}

.cl {
  background-color: blue;
  font-size: 1.2rem;
  font-weight: bold;
}

.clsss {
  background-color: rosybrown;
  font-size: 1.2rem;
  font-weight: bold;
}
